{% extends "base_graphics.html" %}

{% block title %}
CN2-SD
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Executing CN2-SD </h2>
            {% if end %}
                <h3> It is finished! </h3> <br>
                <p>The colors now represent the subgroups and the shapes represent the class. If an element belong to multiple groups, a mixed color is shown. The subgroup colors are:</p>
                <div id="legend_subgroups">
                    <svg></svg>
                </div>
            {% else %}
                 <div class="content-section">
                     <form method="POST" action="" enctype="multipart/form-data">
                        <div class="form-group">
                            <input class="btn btn-outline-info" id="submit" name="submit" type="submit" value="Do step!">
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="chartArea">
            <svg ></svg>
        </div>
        <div class="col-12">
            <h3>Rules found:</h3>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Rule</th>
                        <th scope="col">WRAcc</th>
                        <th scope="col">Coverage</th>
                        <th scope="col">Support</th>
                        <th scope="col">Significance</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rule in rule_list %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ rule }}</td>
                            <td>{{ "%.4f"|format(rule.wracc) }}</td>
                            <td>{{ "%.4f"|format(rule.coverage) }}</td>
                            <td>{{ "%.4f"|format(rule.support) }}</td>
                            <td>{{ "%.4f"|format(rule.significance) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/graphics.js') }}"></script>
    <script src="{{ url_for('static', filename='js/color_mixer.js') }}"></script>
    <script>
        const graphData = {{ data.chart_data | safe }};
        const cols = {{ cols | safe }};
        const col_output = '{{ col_output | safe }}';
        const end = ('{{ end }}' == 'True');
        const rule_list = [];
        {% for rule in rule_list %}
        rule_list.push(`{{ rule | safe }}`);
        {% endfor %}
        var algorithm = {
            "name": "CN2"
        }
        const resize = () => redraw(graphData,cols,col_output,algorithm,end,rule_list);
        resize();
        window.onresize = resize;
    </script>
{% endblock %}